@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Play:wght@700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
}



.container {
  max-width: 1272px;
  margin: 0 auto;
  padding: 0 16px;
  
}


footer {
    height: 100%;
    background-color: #152C39;
}

footer .container {
    padding-top: 60px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    
}

.footer-info-block {
    padding-top: 31px;
    display: grid;
    color: rgba(255, 255, 255, .8);
    grid-template-columns: repeat(2,1fr)
    
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 217px;
    height: 96px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 72px;
    height: 84px;
    color:rgba(255, 255, 255, .8);
}

.footer-links a {
    color:rgba(255, 255, 255, .8);
}

.footer-logo img {
    height: 92px;
    width: 489px;
}

.footer-nav-list {
    display: flex;
    column-gap: 24px;
    font-weight: 400;
    font-size: 14px;

}

.footer-nav-link {
    color: rgba(255, 255, 255, .7);
    transition: all .2s;
}

.footer-nav-link:hover {
    color: rgba(255, 255, 255, .9);
}

.span-line {
    border-bottom: 1px solid red;
}

.footer-other {
    padding-top: 55px;
    padding-bottom: 32px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color:rgba(255, 255, 255, .8);
    position: relative;
}

.footer-other-block {
    display: flex;
    gap: 50px;
}

.footer-other::after {
    content:'';
    position: absolute;
    display: block;
    height: 1px;
    max-width: 1240px;
    width: 100%;
    background: darkgray;
    margin-top: -23px;
}

.footer-nav-link {
    position: relative;
    transition: all .2s;
}

.footer-nav-link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .5);
    left: 0;
    bottom: -1px;

}








@media (max-width: 1248px) {
    .footer-main {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer-block {
        padding-top: 20px;
    }


    
    
}

@media (max-width: 768px) {
    .footer-nav-list {
        display: flex;
        flex-direction:column;
        padding-top: 40px;
        font-size: 20px;
        gap: 18px;

    }

    .footer-main{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;

    }

    .footer-logo img {
        width: 240px;
        height: 46.957px;
        
    }

    .footer-block {
        padding-top: 0px;
    }

    /* .footer-nav-link {
        position: relative;
        transition: all .2s ease;
    } */

    /* .footer-nav-link:hover::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
        left: 0;
        bottom: -1px;
    } */

     .footer-info-block {
        
        grid-template-columns: 1fr;
        gap: 40px;
    } 

}